<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="wrapper">
    <h1>EPIC-Backend</h1>

    <p class="lead">This is a backend for data scraped from <a href="https://epic.gsfc.nasa.gov/">DSCOVR/EPIC</a>.</p>
    <ul>
        <li><a href="/upload">Upload Data Manually</a></li>
        <li><a href="/entries">See available entries</a></li>
    </ul>

</div>
</body>
</html>