<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manual Upload</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="wrapper">
    <h1>Login</h1>

    <p class="lead">You need to login to use this application.</p>
    <form method="POST" enctype="multipart/form-data" action="/login">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />
        <label for="password">Passwords:</label>
        <input type="password" name="password" id="password" />
        <input type="submit" value="Login" />
    </form>

</div>
</body>
</html>